# Python (virtual environment and cache)
venv/
__pycache__/

# Sensitive data (keys, faces, face data, history logs)
.env
user_faces/
face_data.db
logs/

# Models
Models/vosk-*

# local
.qodo

# misc
*.DS_Store
